/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #8382BF;
}

.friendDisplay {
	text-align: center;
	width: 100%;
}

.friend {
	margin: 10px auto;
	padding: 10px;
	width: 75%;
	border-radius: 5px;
	border: solid #8382BF 2px;
	text-align: center;
}

.friend img {
	width: 100%;
}

.container {
	text-align: center;
}